.score {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.score_highlight {
    color: rgb(7, 241, 7);
}

.score_highlight.bad {
    color: red;
}